.idea
build
dist
db.sqlite3

venv

prod_settings.py
local_settings.py
config/*

**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc
!media
media/*
xml/Users.xml

.DS_Store
text.txt
/xml/Users.xml

Dockerfile
.dockerignore
