{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Images' %}{% endblock %}

{% block content %}

<div class="container featured_property_section properties_list_section">
  {% for image in images %}
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="item">
      <div class="featured_div">
        <div class="img">
          <img class="img-fluid" src="{{ image.image.url }}" alt="img">
        </div>
        <div class="property_price">
          {% if can_update %}
          <div>
            <a class="btn btn-primary btn-sm btn-danger element-fullwidth"
               href="{% url 'images:apartment_image_delete' lang=lang pk=image.id %}"
               type="button" style="max-width: 120px">{% translate 'Delete' %}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Featured Properties End -->
{% endblock %}