{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'History' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
    <div class="banner_caption">
        <h1>{% translate 'History of changes' %}</h1>
        <ul>
            <li><a href="/{{ lang }}/">{% translate 'Main' %}</a></li>
            <li>{% translate 'Base' %} / </li>
            <li>{% translate 'History' %}</li>
        </ul>
    </div>
</div>
<br>
{% if history %}
<table class="table table-striped">
<tbody>
  <tr>
    <th>{% translate 'date' %}</th>
    <th>{% translate 'user' %}</th>
    <th>{% translate 'field' %}</th>
    <th>{% translate 'old' %}</th>
    <th>{% translate 'new' %}</th>
  </tr>
  {% for change in history %}
  <tr>
    <th>{{ change.date  }}</th>
    <th>{{ change.user }}</th>
    <td>{{ change.field }}</td>
    <td>{{ change.old_value }}</td>
    <td>{{ change.new_value }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}