{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Login' %}</h1>
    <ul>
      <li><a href="/{{ lang }}/">{% translate 'Main' %}</a></li>
      <li>{% translate 'Login' %}</li>
    </ul>
  </div>
</div>
<div class="container contact_info_section">
  <div class="heading">
    <h1>Login From</h1>
  </div>
  <form enctype="multipart/form-data" action="{{ action }}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="custombtn">{% translate 'Submit' %}</button>
  </form>
</div>
{% endblock %}