{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Office' %}</h1>
  </div>
</div>
<div class="container agents_details_section">
    <div class="property_search propertylist_search_section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                   href="{% url 'accounts:profile' lang=lang %}">
                    {% translate "Profile" %}
                </a>
            </li>
            {% if my_clients %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'handbooks:office_client_list' lang=lang %}">
                    {% translate "My clients" %}
                </a>
            </li>
            {% endif %}
            {% if my_objects %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'objects:office_apartment_list' lang=lang %}">
                    {% translate "My objects" %}
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- Agent Title -->
    <div class="agents_details">
        <div>
            <img class="img-fluid" src="{{ user.image.url }}" alt="user">
        </div>
        <div>
            <div class="agent_title">
                <div>
                    <h4>
                        {{ user.first_name }} {{ user.last_name }}
                    </h4>
                    <div class="agent_desc">
                        <ul>
                            {% for filial in user.filials.all %}
                                <li>{{ filial.filial_agency }}{% if not forloop.last %}, {% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="basic_detail">
                <li>{% translate 'Name' %} : <span>{{ user.first_name }} {{ user.last_name }}</span></li>
                <li>
                    {% translate 'Phone' %} :
                    {% for phone_number in user.phone_numbers.all %}
                        <span>{{ phone_number.number }}{% if not forloop.last %}, {% endif %}</span>
                    {% empty %}
                        -
                    {% endfor %}
                </li>
                <li>{% translate 'Email' %} : <span>{{ user.email }}</span></li>
            </ul>
        </div>
        <form enctype="multipart/form-data" action="{{ action }}" method="post">{% csrf_token %}
            <div class="offset-top-10">
                {{ form.as_p }}
                <br>
                <input class="custombtn" type=submit value="{% translate 'New avatar' %}">
            </div>
        </form>
    </div>
    </div>

</div>
{% endblock %}