{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Handbooks' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Users' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'Users' %}</li>
    </ul>
  </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        {% with url_name=request.resolver_match.url_name %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       href="{% url 'accounts:user_list' lang=lang %}">
                        {% translate "Users" %}
                    </a>
                </li>
                {% if perms.accounts.view_customgroup %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           href="{% url 'accounts:group_list' lang=lang %}">
                            {% translate "Groups" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    {% if page_obj %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% translate 'Id' %}</th>
                                        <th scope="col">{% translate 'Last name' %}</th>
                                        <th scope="col">{% translate 'First name' %}</th>
                                        <th scope="col">{% translate 'Email' %}</th>
                                        <th scope="col">{% translate 'Phone numbers' %}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in user_list %}
                                        <tr>
                                            <td></td>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% for phone_number in user.phone_numbers.all %}
                                                    {{ phone_number.number }}{% if not forloop.last %}, {% endif %}
                                                {% empty %}
                                                    -
                                                {% endfor %}
                                            </td>
                                            {% if can_update %}
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                       href="{% url 'accounts:user_update' lang=lang pk=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'Update' %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-danger element-fullwidth"
                                                       href="{% url 'accounts:user_delete' lang=lang pk=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'Delete' %}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            {% if can_view_history %}
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                       href="{% url 'accounts:user_history' lang=lang pk=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'History' %}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align: center">{% translate 'Not found' %}</div>
                    {% endif %}
                    {% if perms.accounts.add_customuser %}
                        <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                           href="{% url 'accounts:user_create' lang=lang %}"
                           type="button" style="max-width: 120px">
                            {% translate 'Create' %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center; margin: 20px 0;">
                <div class="btn-group" role="group">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            {% translate 'Previous' %}
                        </a>
                    {% endif %}
                    <a class="btn btn-primary btn-warning element-fullwidth"
                       href="?page={{ page_obj.number }}">
                        {{ page_obj.number }}
                    </a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            {% translate 'Next' %}
                        </a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}