// Page Head
header.section.page-head
	//- RD Navbar
	+rd-navbar-top-panel(
	'rd-navbar-light',
	{
		"data-lg-auto-height": "true",
		"data-md-layout": 'rd-navbar-fixed',
		"data-lg-layout": 'rd-navbar-static',
		"data-lg-stick-up": 'true'
	},
		cfg.brand.logo,
		cfg.nav.home,
		cfg.nav
	)