{% extends "base.html" %}
{% load handbooks %}
{% load objects_tags %}
{% load i18n %}

{% block title %}{% translate "Handbooks" %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Report of changes' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'Reports' %}</li>
    </ul>
  </div>
</div>
<div class="container">
    <div class="property_search">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                <form method="get" class="search-form">
                    <div class="row g-4">
                        {% for field in form %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <label class="customlbl" for="id_{{ field.name }}">
                                    {{ field.label }}
                                </label>
                                <div class="form-group">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <br>
                            <button type="submit" class="custombtn">{% translate "Search" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% if can_view_real_estate %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'objects:apartment_list' lang=lang %}">
                        {% translate "Real estate" %}
                    </a>
                </li>
            {% endif %}
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                    href="{% url 'objects:changes_report_list' lang=lang %}">
                    {% translate "Changes report" %}
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    {% if object_values %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% translate 'Id' %}</th>
                                        <th scope="col">{% translate 'Object type' %}</th>
                                        <th scope="col">{% translate 'Date' %}</th>
                                        <th scope="col">{% translate 'User' %}</th>
                                        <th scope="col">{% translate 'Field' %}</th>
                                        <th scope="col">{% translate 'Old value' %}</th>
                                        <th scope="col">{% translate 'New value' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for object in object_values %}
                                    <tr>
                                        <td></td>
                                        <td>{{object.id}}</td>
                                        <td>{{object.model}}</td>
                                        <td>{{object.date}}</td>
                                        <td>{{object.user}}</td>
                                        <td>{{object.field}}</td>
                                        <td>{{object.old_value}}</td>
                                        <td>{{object.new_value}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align:center">Not found</div>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center; margin: 20px 0;">
                <div class="btn-group" role="group">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">{% translate 'Previous' %}</a>
                    {% endif %}
                    <a class="btn btn-primary btn-warning element-fullwidth"
                       href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.next_page_number }}" aria-label="Next">{% translate 'Next' %}</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}