{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Catalog' %}{% endblock %}

{% block content %}
<!-- Page Heading Banner -->
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Details' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li><a href="{% url 'objects:catalog' lang=lang %}">{% translate 'Catalog' %}</a></li>
      <li> / {% translate 'Details' %}</li>
    </ul>
  </div>
</div>
<br>
<!-- Page Heading Banner End -->
<div class="container blogs_details_section">
    <!-- Properties Details -->
    <div class="properties_details">
        <div>
            <div class="properties_description">
                <!-- Gallery Section -->
                <div class="img">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in object.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100 h-50" alt="...">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">prev</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">next</span>
                        </button>
                    </div>
                </div>
                <!-- Gallery Section End -->
                <div class="properties_content">
                    <div class="sub_heading">
                        <h2>{% translate 'Characteristics' %}</h2>
                    </div>
                    <div class="offset-top-30">
                        <div class="table-responsive clearfix">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>{% translate 'Locality' %}</th>
                                    <td>{{ object.locality }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Street' %}</th>
                                    <td>{{ object.street }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'House' %}</th>
                                    <td>{{ object.house }}</td>
                                </tr>
                                {% if object.apartment %}
                                    <tr>
                                        <th>{% translate 'Apartment' %}</th>
                                        <td>{{ object.apartment }}</td>
                                    </tr>
                                {% elif object.premises %}
                                    <tr>
                                        <th>{% translate 'Premises' %}</th>
                                        <td>{{ object.premises }}</td>
                                    </tr>
                                {% elif object.housing %}
                                    <tr>
                                        <th>{% translate 'Housing' %}</th>
                                        <td>{{ object.housing }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>{% translate 'Deposit date' %}</th>
                                    <td>{{ object.deposit_date|default:"" }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Exclusive' %}</th>
                                    <td>{{ object.exclusive|yesno:_("Yes,No") }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Withdrawal reason' %}</th>
                                    <td>{{ object.withdrawal_reason }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Condition' %}</th>
                                    <td>{{ object.condition }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Material' %}</th>
                                    <td>{{ object.material }}</td>
                                </tr>
                                {% if object.complex %}
                                    <tr>
                                        <th>{% translate 'Complex' %}</th>
                                        <td>{{ object.complex }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>{% translate 'Status' %}</th>
                                    <td>{{ object.get_status_display }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Square' %}</th>
                                    <td>{{ object.square }}</td>
                                </tr>
                                {% if object.living_square %}
                                    <tr>
                                        <th>{% translate 'Living square' %}</th>
                                        <td>{{ object.living_square }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.useful_square %}
                                    <tr>
                                        <th>{% translate 'Useful square' %}</th>
                                        <td>{{ object.useful_square }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.land_square %}
                                    <tr>
                                        <th>{% translate 'Land square' %}</th>
                                        <td>{{ object.land_square }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>{% translate 'Price' %}</th>
                                    <td>{{ object.price }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'EHome' %}</th>
                                    <td>{{ object.e_home|yesno:_("Yes,No") }}</td>
                                </tr>
                                {% if object.balcony != None %}
                                    <tr>
                                        <th>{% translate 'Balcony' %}</th>
                                        <td>{{ object.balcony|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.terrace != None %}
                                    <tr>
                                        <th>{% translate 'Terrace' %}</th>
                                        <td>{{ object.terrace|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.ground_floor != None %}
                                    <tr>
                                        <th>{% translate 'Ground floor' %}</th>
                                        <td>{{ object.ground_floor|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.facade != None %}
                                    <tr>
                                        <th>{% translate 'Facade' %}</th>
                                        <td>{{ object.facade|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.own_parking != None %}
                                    <tr>
                                        <th>{% translate 'Own parking' %}</th>
                                        <td>{{ object.own_parking|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.own_courtyard != None %}
                                    <tr>
                                        <th>{% translate 'Own courtyard' %}</th>
                                        <td>{{ object.own_courtyard|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.separate_building != None %}
                                    <tr>
                                        <th>{% translate 'Separate building' %}</th>
                                        <td>{{ object.separate_building|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.rooms_number %}
                                    <tr>
                                        <th>{% translate 'Number of rooms' %}</th>
                                        <td>{{ object.rooms_number }}</td>
                                    </tr>
                                {% endif %}
                                {% if object.communications != None %}
                                    <tr>
                                        <th>{% translate 'Communications' %}</th>
                                        <td>{{ object.communications|yesno:_("Yes,No") }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>{% translate 'Owner' %}</th>
                                    <td>{{ object.owner }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Agency' %}</th>
                                    <td>{{ object.agency }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Sale terms' %}</th>
                                    <td>{{ object.sale_terms }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Document' %}</th>
                                    <td>{{ object.document }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'Realtor' %}</th>
                                    <td>{{ object.realtor }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if object.realtor_notes %}
                    <div class="sub_heading">
                        <h2>{% translate 'Realtor notes' %}</h2>
                    </div>
                    <ul class="offset-top-30">
                        {{ object.realtor_notes }}
                    </ul>
                    {% endif %}

                    {% if object.comment %}
                    <div class="sub_heading">
                        <h2>{% translate 'Comment' %}</h2>
                    </div>
                    <ul class="offset-top-30">
                        {{ object.comment }}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <div class="border_box">
                <div class="sub_heading">
                    <h2>{% translate 'Realtors' %}</h2>
                </div>
                <div class="container agents_details_section">
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.realtor.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.realtor.first_name }} {{ object.realtor.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.realtor.first_name }} {{ object.realtor.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.realtor.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.realtor.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% if object.site_realtor1 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.site_realtor1.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.site_realtor1.first_name }} {{ object.site_realtor1.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.site_realtor1.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.site_realtor1.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.site_realtor1.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if object.site_realtor2 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.site_realtor2.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.site_realtor2.first_name }} {{ object.site_realtor2.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.site_realtor2.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.site_realtor2.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.site_realtor2.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if object.realtor_5_5 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.realtor_5_5.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.realtor_5_5.first_name }} {{ object.realtor_5_5.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.realtor_5_5.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.realtor_5_5.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.realtor_5_5.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Properties Details End -->
</div>
{% endblock %}
