{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Images' %}{% endblock %}

{% block content %}
<!-- Page Heading Banner -->
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Details' %}</h1>
    <ul>
      <li><a href="/{{ lang }}/">{% translate 'Main' %}</a></li>
      <li><a href="/{{ lang }}/objects/catalog/">{% translate 'Catalog' %}</a></li>
      <li> / {% translate 'Details' %}</li>
    </ul>
  </div>
</div>
<br>
<!-- Page Heading Banner End -->
<div class="container blogs_details_section">
    <!-- Properties Details -->
    <div class="properties_details">
        <div>
            <div class="properties_description">
                <!-- Gallery Section -->
                <div class="img">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in images %}
                            <div class="carousel-item {% if image == images.0 %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100 h-50" alt="...">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">prev</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">next</span>
                        </button>
                    </div>
                </div>
                <!-- Gallery Section End -->
                <div class="properties_content">
                    <div class="sub_heading">
                        <h2>{% translate 'Characteristics' %}</h2>
                    </div>
                    <div class="offset-top-30">
                        <div class="table-responsive clearfix">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>{% translate 'details' %}</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>{% translate 'region' %}</th>
                                    <td>{{ object.region }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'district' %}</th>
                                    <td>{{ object.district }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'locality' %}</th>
                                    <td>{{ object.locality }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'locality_district' %}</th>
                                    <td>{{ object.locality_district }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'street' %}</th>
                                    <td>{{ object.street }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'house' %}</th>
                                    <td>{{ object.house }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'apartment' %}</th>
                                    <td>{{ object.apartment }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'date_before_temporarily_removed' %}</th>
                                    <td>{{ object.date_before_temporarily_removed }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'deposit_date' %}</th>
                                    <td>{{ object.deposit_date }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'purchase_date' %}</th>
                                    <td>{{ object.purchase_date }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'sale_date' %}</th>
                                    <td>{{ object.sale_date }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'date_of_next_call' %}</th>
                                    <td>{{ object.date_of_next_call }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'inspection_form' %}</th>
                                    <td>{{ object.inspection_form }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'exclusive' %}</th>
                                    <td>{{ object.exclusive }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'exclusive_date' %}</th>
                                    <td>{{ object.exclusive_to }} - {{ object.exclusive_from }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'inspection_flag' %}</th>
                                    <td>{{ object.inspection_flag }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'paid_exclusive_flag' %}</th>
                                    <td>{{ object.paid_exclusive_flag }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'terrace_flag' %}</th>
                                    <td>{{ object.terrace_flag }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'sea_flag' %}</th>
                                    <td>{{ object.sea_flag }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'vip' %}</th>
                                    <td>{{ object.vip }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'withdrawal_reason' %}</th>
                                    <td>{{ object.withdrawal_reason }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'independent' %}</th>
                                    <td>{{ object.independent }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'condition' %}</th>
                                    <td>{{ object.condition }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'special' %}</th>
                                    <td>{{ object.special }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'urgently' %}</th>
                                    <td>{{ object.urgently }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'trade' %}</th>
                                    <td>{{ object.trade }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'material' %}</th>
                                    <td>{{ object.material }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'status' %}</th>
                                    <td>{{ object.status }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'objectect_type' %}</th>
                                    <td>{{ object.objectect_type }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'square' %}</th>
                                    <td>{{ object.square }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'price' %}</th>
                                    <td>{{ object.price }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'site_price' %}</th>
                                    <td>{{ object.site_price }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'square_meter_price' %}</th>
                                    <td>{{ object.square_meter_price }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'for_trainee' %}</th>
                                    <td>{{ object.for_trainee }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'reference_point' %}</th>
                                    <td>{{ object.reference_point }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'author' %}</th>
                                    <td>{{ object.author }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'owner' %}</th>
                                    <td>{{ object.owner }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'client' %}</th>
                                    <td>{{ object.client }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'owners_number' %}</th>
                                    <td>{{ object.owners_number }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'separation' %}</th>
                                    <td>{{ object.separation }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'agency' %}</th>
                                    <td>{{ object.agency }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'agency_sales' %}</th>
                                    <td>{{ object.agency_sales }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'sale_terms' %}</th>
                                    <td>{{ object.sale_terms }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'filename_of_exclusive_agreement' %}</th>
                                    <td>{{ object.filename_of_exclusive_agreement }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'inspection_file_name' %}</th>
                                    <td>{{ object.inspection_file_name }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'document' %}</th>
                                    <td>{{ object.document }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'filename_forbid_sale' %}</th>
                                    <td>{{ object.filename_forbid_sale }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'new_building_name' %}</th>
                                    <td>{{ object.new_building_name }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'new_building_type' %}</th>
                                    <td>{{ object.new_building_type }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'realtor' %}</th>
                                    <td>{{ object.realtor }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'site_realtor1' %}</th>
                                    <td>{{ object.site_realtor1 }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'site_realtor2' %}</th>
                                    <td>{{ object.site_realtor2 }}</td>
                                </tr>
                                <tr>
                                    <th>{% translate 'realtor_5_5' %}</th>
                                    <td>{{ object.realtor_5_5 }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if object.realtor_notes %}
                    <div class="sub_heading">
                        <h2>{% translate 'Realtor notes' %}</h2>
                    </div>
                    <ul class="offset-top-30">
                        {{ object.realtor_notes }}
                    </ul>
                    {% endif %}

                    {% if object.comment %}
                    <div class="sub_heading">
                        <h2>{% translate 'Comment' %}</h2>
                    </div>
                    <ul class="offset-top-30">
                        {{ object.comment }}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <div class="border_box">
                <div class="sub_heading">
                    <h2>{% translate 'Realtors' %}</h2>
                </div>
                <div class="container agents_details_section">
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.realtor.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.realtor.first_name }} {{ object.realtor.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.realtor.first_name }} {{ object.realtor.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.realtor.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.realtor.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% if object.site_realtor1 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.site_realtor1.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.site_realtor1.first_name }} {{ object.site_realtor1.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.site_realtor1.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.site_realtor1.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.site_realtor1.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if object.site_realtor2 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.site_realtor2.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.site_realtor2.first_name }} {{ object.site_realtor2.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.site_realtor2.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.site_realtor2.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.site_realtor2.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if object.realtor_5_5 %}
                    <div class="agents_details">
                        <div>
                            <img class="img-fluid" src="{{ object.realtor_5_5.image.url }}" alt="user">
                        </div>
                        <div>
                            <div class="agent_title">
                                <div>
                                    <h4>
                                        {{ object.realtor_5_5.first_name }} {{ object.realtor_5_5.last_name }}
                                    </h4>
                                </div>
                            </div>
                            <ul class="basic_detail">
                                <li>{% translate 'Name' %} : <span>{{ object.realtor_5_5.first_name }} {{ object.site_realtor1.last_name }}</span></li>
                                <li>{% translate 'Phone' %} : <span>{{ object.realtor_5_5.phone }}</span></li>
                                <li>{% translate 'Email' %} : <span>{{ object.realtor_5_5.email }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Properties Details End -->
</div>
{% endblock %}
