{% extends "base.html" %}
{% load handbooks %}
{% load objects_tags %}
{% load i18n %}

{% block title %}{% translate "My Filial" %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'My filial' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'My filial' %}</li>
    </ul>
  </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% if can_view_client %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'handbooks:all_client_list' lang=lang %}">
                        {% translate "Clients" %}
                    </a>
                </li>
            {% endif %}
            {% if can_view_real_estate %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'objects:real_estate_list_redirect' lang=lang %}">
                        {% translate "Real estate" %}
                    </a>
                </li>
            {% endif %}
            {% if can_view_report %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                    href="{% url 'objects:new_apartment_reports' lang=lang %}">
                    {% translate "Reports" %}
                </a>
            </li>
            {% endif %}
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                    href="{% url 'objects:my_filial' lang=lang %}">
                    {% translate "My filial" %}
                </a>
            </li>
            {% if can_view_filial_deposit %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'objects:filial_deposit_apartments' lang=lang %}">
                        {% translate "Filial Deposit" %}
                    </a>
                </li>
            {% endif %}
            {% if can_view_agency_deposit %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'objects:agency_deposit_apartments' lang=lang %}">
                        {% translate "Agency Deposit" %}
                    </a>
                </li>
            {% endif %}
        </ul>


        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    {% if page_obj %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% translate 'Id' %}</th>
                                        <th scope="col">{% translate 'Last name' %}</th>
                                        <th scope="col">{% translate 'First name' %}</th>
                                        <th scope="col">{% translate 'Email' %}</th>
                                        <th scope="col">{% translate 'Phone numbers' %}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in objects %}
                                        <tr>
                                            <td></td>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% for phone_number in user.phone_numbers.all %}
                                                    {{ phone_number.number }}{% if not forloop.last %}, {% endif %}
                                                {% empty %}
                                                    -
                                                {% endfor %}
                                            </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                       href="{% url 'objects:my_filial_realtor_clients' lang=lang realtor_id=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'Clients' %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                       href="{% url 'objects:my_filial_realtor_apartments' lang=lang realtor_id=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'Real estate' %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                       href="{% url 'objects:my_filial_realtor_deposit_apartments' lang=lang realtor_id=user.id %}"
                                                       type="button" style="max-width: 120px">
                                                        {% translate 'Deposit Real estate' %}
                                                    </a>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align: center">{% translate 'Not found' %}</div>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center; margin: 20px 0;">
                <div class="btn-group" role="group">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            {% translate 'Previous' %}
                        </a>
                    {% endif %}
                    <a class="btn btn-primary btn-warning element-fullwidth"
                       href="?page={{ page_obj.number }}">
                        {{ page_obj.number }}
                    </a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            {% translate 'Next' %}
                        </a>
                    {% endif %}
                </div>
            </nav>
        </div>

    </div>
</div>
{% endblock %}