{% extends "base.html" %}
{% load handbooks %}
{% load objects_tags %}
{% load i18n %}

{% block title %}{% translate "Handbooks" %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Office' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'Office' %}</li>
    </ul>
  </div>
</div>
<div class="container agents_details_section">
    <div class="property_search propertylist_search_section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% if my_clients %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'handbooks:office_client_list' lang=lang %}">
                    {% translate "My clients" %}
                </a>
            </li>
            {% endif %}

            {% if my_objects %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'objects:office_apartment_list' lang=lang %}">
                    {% translate "My objects" %}
                </a>
            </li>
            {% endif %}

            {% if filial_clients %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'handbooks:office_filial_client_list' lang=lang %}">
                    {% translate "Filial clients" %}
                </a>
            </li>
            {% endif %}

            {% if filial_objects %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'objects:office_filial_apartment_list' lang=lang %}">
                    {% translate "Filial objects" %}
                </a>
            </li>
            {% endif %}

            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                   href="{% url 'objects:office_report_list' lang=lang %}">
                    {% translate "Report" %}
                </a>
            </li>

            {% if users %}
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   href="{% url 'accounts:office_user_list' lang=lang %}">
                    {% translate "Users" %}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        {% with current_filter=request.resolver_match.kwargs.filter %}
            <ul class="nav nav-tabs" id="myTab1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'new_apartments' or not current_filter %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='new_apartments' %}">
                        {% translate "New apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'new_commerce' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='new_commerce' %}">
                        {% translate "New commerces" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'new_houses' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='new_houses' %}">
                        {% translate "New houses" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'new_lands' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='new_lands' %}">
                        {% translate "New lands" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'new_rooms' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='new_rooms' %}">
                        {% translate "New rooms" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'all_apartments' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='all_apartments' %}">
                        {% translate "All apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == 'my_apartments' %}active{% endif %}"
                       href="{% url 'objects:office_report_list' lang=lang filter='my_apartments' %}">
                        {% translate "My apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_filter == '' %}active{% endif %}"
                       href="{% url 'objects:office_changes_report_list' lang=lang %}">
                        {% translate "Changes report" %}
                    </a>
                </li>
            </ul>
        {% endwith %}
        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    {% if page_obj %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% translate 'Id' %}</th>
                                        <th scope="col">{% translate 'Locality' %}</th>
                                        <th scope="col">{% translate 'Street' %}</th>
                                        <th scope="col">{% translate 'Floor' %}</th>
                                        <th scope="col">{% translate 'Creation date' %}</th>
                                        <th scope="col">{% translate 'Price' %}</th>
                                        <th scope="col">{% translate 'Status' %}</th>
                                        <th scope="col">{% translate 'Owner' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td></td>
                                        <td>{{object.id}}</td>
                                        <td>{{object.locality}}</td>
                                        <td>{{object.street}}</td>
                                        <td>{{object.floor}}</td>
                                        <td>{{object.creation_date}}</td>
                                        <td>{{object.price}}</td>
                                        <td>{{object.get_status_display}}</td>
                                        <td>{{object.owner}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align:center">Not found</div>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center; margin: 20px 0;">
                <div class="btn-group" role="group">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">{% translate 'Previous' %}</a>
                    {% endif %}
                    <a class="btn btn-primary btn-warning element-fullwidth"
                       href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.next_page_number }}" aria-label="Next">{% translate 'Next' %}</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}