{% extends "base.html" %}
{% load objects_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Handbooks" %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Real estate' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'Real estate' %}</li>
    </ul>
  </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active"
                    href="{% url 'objects:apartment_list' lang=lang %}">
                    {% translate "Real estate" %}
                </a>
            </li>
            {% if can_view_report %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                        href="{% url 'objects:changes_report_list' lang=lang %}">
                        {% translate "Changes report" %}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% with url_name=request.resolver_match.url_name %}
            <ul class="nav nav-tabs" id="myTab1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'apartment_list' %}active{% endif %}"
                        href="{% url 'objects:apartment_list' lang=lang %}">
                        {% translate "Apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'commerce_list' %}active{% endif %}"
                        href="{% url 'objects:commerce_list' lang=lang %}">
                        {% translate "Commerces" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'house_list' %}active{% endif %}"
                        href="{% url 'objects:house_list' lang=lang %}">
                        {% translate "Houses" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'land_list' %}active{% endif %}"
                        href="{% url 'objects:land_list' lang=lang %}">
                        {% translate "Land" %}
                    </a>
                </li>
            </ul>
        {% endwith %}
        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                            <form method="get" class="search-form">
                    <div class="row g-4">
                        {% for field in form %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <label class="customlbl" for="id_{{ field.name }}">
                                    {{ field.label }}
                                </label>
                                <div class="form-group">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <br>
                            <button type="submit" class="custombtn">{% translate "Search" %}</button>
                        </div>
                    </div>
                    </form>
                        </div>
                    </div>
                    <br>
                    {% if can_create %}
                        <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                           href="{% url create_url_name lang=lang %}"
                           type="button"
                           style="max-width: 120px">
                            {% translate 'Create' %}
                        </a>
                    {% endif %}
                    {% if page_obj %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table" id="real-estate-table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' and k != 'direction' and k != 'page' %}{{ k }}={{ v }}&{% endif %}{% endfor %}sort=id&direction={% if sort == "id" %}{% if direction == "s" %}d{% elif direction == "d" %}{% else %}s{% endif %}{% else %}s{% endif %}">
                                                    {% translate 'Id' %}{% if sort == "id" %}{% if direction == "s" %} ↑{% elif direction == "d" %} ↓{% endif %}{% endif %}
                                            </a>
                                        </th>
                                        <th scope="col">
                                            <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' and k != 'direction' and k != 'page' %}{{ k }}={{ v }}&{% endif %}{% endfor %}sort=locality&direction={% if sort == "locality" %}{% if direction == "s" %}d{% elif direction == "d" %}{% else %}s{% endif %}{% else %}s{% endif %}">
                                                    {% translate 'Locality' %}{% if sort == "locality" %}{% if direction == "s" %} ↑{% elif direction == "d" %} ↓{% endif %}{% endif %}
                                            </a>
                                        </th>
                                        <th scope="col">
                                            <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' and k != 'direction' and k != 'page' %}{{ k }}={{ v }}&{% endif %}{% endfor %}sort=street&direction={% if sort == "street" %}{% if direction == "s" %}d{% elif direction == "d" %}{% else %}s{% endif %}{% else %}s{% endif %}">
                                                    {% translate 'Street' %}{% if sort == "street" %}{% if direction == "s" %} ↑{% elif direction == "d" %} ↓{% endif %}{% endif %}
                                            </a>
                                        </th>
                                        <th scope="col">{% translate 'Rubric' %}</th>
                                        <th scope="col">
                                            <a href="?{% for k,v in request.GET.items %}{% if k != 'sort' and k != 'direction' and k != 'page' %}{{ k }}={{ v }}&{% endif %}{% endfor %}sort=price&direction={% if sort == "price" %}{% if direction == "s" %}d{% elif direction == "d" %}{% else %}s{% endif %}{% else %}s{% endif %}">
                                                    {% translate 'Price' %}{% if sort == "price" %}{% if direction == "s" %} ↑{% elif direction == "d" %} ↓{% endif %}{% endif %}
                                            </a>
                                        </th>
                                        <th scope="col">{% translate 'On site' %}</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td></td>
                                        <td>{{ object.id }}</td>
                                        <td>{{ object.locality }}</td>
                                        <td>{{ object.street }}</td>
                                        <td>{{ object.get_rubric_display }}</td>
                                        <td>{{ object.price }}</td>
                                        <td>{{ object.on_site|yesno:"Yes,No" }}</td>
                                        {% if can_update and can_update|get_dict_value:object.id != 3 %}
                                            <td>
                                                <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                   href="{% url update_url_name lang=lang pk=object.id %}"
                                                   type="button" style="max-width: 120px">
                                                        {% translate 'Update' %}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a class="btn btn-primary btn-sm btn-warning element-fullwidth"
                                                   href="{% url view_url_name lang=lang pk=object.id %}"
                                                   type="button" style="max-width: 120px">
                                                        {% translate 'View' %}
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align:center">{% translate 'Not found' %}</div>
                    {% endif %}
                </div>
            </div>
            {% include "pagination_sidebar.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer
    src="{% static '/js/real_estate_list.js' %}"
    data-main-url="{% url 'main' lang %}">
</script>
{% endblock %}