{% extends "base.html" %}
{% load handbooks %}
{% load objects_tags %}
{% load i18n %}

{% block title %}{% translate "Handbooks" %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
  <div class="banner_caption">
    <h1>{% translate 'Reports' %}</h1>
    <ul>
      <li><a href="{% url 'main' lang=lang %}">{% translate 'Main' %}</a></li>
      <li>{% translate 'Reports' %}</li>
    </ul>
  </div>
</div>
<!-- Properties Search -->
<div class="container">
    <div class="property_search propertylist_search_section">
        {% with url_name=request.resolver_match.url_name %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% if can_view_client %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           href="{% url 'handbooks:client_list' lang=lang %}">
                            {% translate "Clients" %}
                        </a>
                    </li>
                {% endif %}
                {% if can_view_real_estate %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           href="{% url 'objects:real_estate_list_redirect' lang=lang %}">
                            {% translate "Real estate" %}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                        href="{% url 'objects:apartment_reports' lang=lang %}">
                        {% translate "Reports" %}
                    </a>
                </li>
            </ul>
            <ul class="nav nav-tabs" id="myTab1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'apartment_reports' and own is False and days_ago > 0 %}active{% endif %}"
                       href="{% url 'objects:apartment_reports' lang=lang %}?created_days_ago=30">
                        {% translate "New apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'commerce_reports' and own is False and days_ago > 0 %}active{% endif %}"
                       href="{% url 'objects:commerce_reports' lang=lang %}?created_days_ago=30">
                        {% translate "New commerces" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'house_reports' and own is False and days_ago > 0 %}active{% endif %}"
                       href="{% url 'objects:house_reports' lang=lang %}?created_days_ago=30">
                        {% translate "New houses" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       href="#">
                        {% translate "New lands" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       href="#">
                        {% translate "New rooms" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'apartment_reports' and own is False and days_ago <= 0 %}active{% endif %}"
                       href="{% url 'objects:apartment_reports' lang=lang %}">
                        {% translate "All apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if url_name == 'apartment_reports' and own is True and days_ago <= 0 %}active{% endif %}"
                       href="{% url 'objects:apartment_reports' lang=lang %}?own=true">
                        {% translate "My apartments" %}
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       href="{% url 'objects:changes_report_list' lang=lang %}">
                        {% translate "Changes report" %}
                    </a>
                </li>
                {% if can_view_contract %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           href="{% url 'objects:apartment_contracts' lang=lang %}">
                            {% translate "Contracts" %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
        <div class="row">
            <div class="responsive-tabs" data-type="horizontal">
                <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                    {% if page_obj %}
                    <div>
                        <div class="offset-top-66 text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% translate 'Id' %}</th>
                                        <th scope="col">{% translate 'Locality' %}</th>
                                        <th scope="col">{% translate 'Street' %}</th>
                                        <th scope="col">{% translate 'Floor' %}</th>
                                        <th scope="col">{% translate 'Creation date' %}</th>
                                        <th scope="col">{% translate 'Price' %}</th>
                                        <th scope="col">{% translate 'Status' %}</th>
                                        <th scope="col">{% translate 'Owner' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td></td>
                                        <td>{{object.id}}</td>
                                        <td>{{object.locality}}</td>
                                        <td>{{object.street}}</td>
                                        <td>{{object.floor}}</td>
                                        <td>{{object.creation_date}}</td>
                                        <td>{{object.price}}</td>
                                        <td>{{object.get_status_display}}</td>
                                        <td>{{object.owner}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                        <div style="text-align:center">Not found</div>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center; margin: 20px 0;">
                <div class="btn-group" role="group">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">{% translate 'Previous' %}</a>
                    {% endif %}
                    <a class="btn btn-primary btn-warning element-fullwidth"
                       href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-warning element-fullwidth"
                           href="?page={{ page_obj.next_page_number }}" aria-label="Next">{% translate 'Next' %}</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}