<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" href="{% static '/images/fav_icon.jpg' %}" type="image/x-icon">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">

    <!-- box icons css -->
    <link rel='stylesheet' href="{% static '/css/boxicons.min.css' %}">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">

    <!-- owl tylesheets -->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}">

    <!-- bootstrap select -->
    <link rel="stylesheet" href="{% static '/css/bootstrap-select.min.css' %}">

</head>

<body>

    <!-- Top Stripe -->
    <div class="container-fluid top_stripe">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-6 contact_info">
                    <ul>
                        <li>
                            <img src="{% static '/images/email_icon.png' %}" alt="email"> европа@example.com
                        </li>
                        <li>
                            <img src="{% static '/images/call_icon.png' %}" alt="call"> +европа
                        </li>
                        <li>
                            <img src="{% static '/images/location_icon.png' %}" alt="location"> европа
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 lang_region">
                    <select class="form-control customtxt show-tick" onchange="redirectToPage(this)">
                        <option disabled>{% translate 'Language' %}</option>
                        <option value="eng" {% if lang == 'eng' %}selected{% endif %}>{% translate 'English' %}</option>
                        <option value="ru" {% if lang == 'ru' %}selected{% endif %}>{% translate 'Russian' %}</option>
                        <option value="uk" {% if lang == 'uk' %}selected{% endif %}>{% translate 'Ukrainian' %}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Stripe End -->

    <!-- Header -->
    <div class="custom-overlay"></div>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="/{{lang}}/" title="Perfect Property" class="header-logo d-block">
                    <img src="{% static '/images/logo.jpg' %}" alt="logo" title="Perfect Property" height="80">
                </a>
                <div class="nav-item">
                    <nav class="d-none d-lg-block">
                        <ul>
                            <li><a href="/{{lang}}/" class="active">Main</a></li>
                            <li><a href="/{{lang}}/handbook/base/">Base</a></li>
                            <li><a href="/{{lang}}/accounts/profile/">Profile</a></li>
                            <li><a href="/{{lang}}/accounts/login/">Login</a></li>
                            <li><a href="/{{lang}}/accounts/logout/">Logout</a></li>
                        </ul>
                    </nav>
                    <div
                        class="side-menu-close d-flex d-lg-none flex-wrap flex-column align-items-center justify-content-center ml-auto">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- side menu start -->
    <div class="side-menu-wrap">
        <a href="index.html" title="Perfect Property" class="side-menu-logo d-block p-3">
            <img src="{% static '/images/logo.jpg' %}" alt="logo" title="Europe" height="90">
        </a>
        <nav class="side-menu-nav">
            <!-- auto generated side menu from top header menu -->
        </nav>
        <div class="side-menu-close d-flex flex-wrap flex-column align-items-center justify-content-center">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- side menu end -->
    <!-- Header End -->

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Featured Properties -->
    <div class="container featured_property_section">
        <br><br>
        {% block content %}
        {% endblock %}
    </div>
    <!-- Featured Properties End -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer_logo">
                <div class="row align-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-5">
                        <img src="{% static '/images/logo.jpg' %}" alt="logo">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-7">
                        <ul>
                            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
                            <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row usefull_links">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <h4>Popular Searches</h4>
                    <ul>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Flats for rent in Bahrain</a></li>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Land for rent in Bahrain</a></li>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Land for rent in Bahrain</a></li>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Studio Flats for rent in Bahrain</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <h4>Popular Areas</h4>
                    <ul>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Flat for rent in Hoora</a></li>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Shop for sale in Bahrain</a></li>
                        <li><a href="#"><i class='bx bx-chevron-right'></i>Property for sale in Bahrain</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 contact_us">
                    <h4>Contact Us</h4>
                    <ul>
                        <li>
                            <img src="{% static '/images/email_icon.png' %}" alt="email"> mail@exampl.com
                        </li>
                        <li>
                            <img src="{% static '/images/call_icon.png' %}" alt="call"> +123-456-7890
                        </li>
                        <li>
                            <img src="{% static '/images/location_icon.png' %}" alt="location"> 884 Schultz Points, South
                            Shantell, MN.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom_stripe">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <p>Perfect Property © 2024. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- Login Modal -->
    <div class="modal fade custom_modal" id="LoginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignIn">Sign In to Your Account</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form_group">
                                <label class="customlbl">Username</label>
                                <input class="customtxt" placeholder="Enter Your Username">
                            </div>
                            <div class="form_group">
                                <label class="customlbl">Password</label>
                                <input class="customtxt" placeholder="Enter Your Password">
                            </div>
                            <div class="form_group forgot_link">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="check1" name="option1"
                                        value="something">
                                    <label class="form-check-label">Remember Me</label>
                                </div>
                                <span><a href="#" data-bs-toggle="modal" data-bs-target="#ForgotPasswordModal"
                                        data-bs-dismiss="modal">Forgot Password?</a></span>
                            </div>
                            <div class="form_group">
                                <button class="custombtn col-lg-12">Sign In</button>
                            </div>
                            <div class="form_group social_account">
                                <hr>
                                <p>
                                    <label>Or Continue With</label>
                                </p>
                                <ul>
                                    <li><a href="#"><i class='bx bxl-google'></i></a></li>
                                </ul>
                                <h6>Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#RegisterModal"
                                        data-dismiss="modal">Sign Up</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade custom_modal" id="ForgotPasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ForgotHeading">Forgot Your Password?</h5>
                    <button type="button" class="close" data-bs-toggle="modal" data-bs-target="#LoginModal"
                    data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form_group">
                                <label class="customlbl">Email</label>
                                <input class="customtxt" placeholder="Enter Your Email Id">
                            </div>
                            <div class="form_group">
                                <button class="custombtn col-lg-12">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade custom_modal" id="RegisterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignUp">Sign Up to Your Account</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form_group">
                                <label class="customlbl">Firstname</label>
                                <input class="customtxt" placeholder="Enter Your Firstname">
                            </div>
                            <div class="form_group">
                                <label class="customlbl">Lastname</label>
                                <input class="customtxt" placeholder="Enter Your Lastname">
                            </div>
                            <div class="form_group">
                                <label class="customlbl">Email</label>
                                <input class="customtxt" placeholder="Enter Your Email">
                            </div>
                            <div class="form_group">
                                <label class="customlbl">Contact No.</label>
                                <input class="customtxt" placeholder="Enter Your Contact No.">
                            </div>
                            <div class="form_group">
                                <button class="custombtn col-lg-12">Sign Up</button>
                            </div>
                            <div class="form_group social_account">
                                <hr>
                                <p>
                                    <label>Or Continue With</label>
                                </p>
                                <ul>
                                    <li><a href="#"><i class='bx bxl-google'></i></a></li>
                                </ul>
                                <h6>Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#LoginModal"
                                        data-bs-dismiss="modal">Sign In</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bootstrap js -->
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>

    <!-- bootstrap select js -->
    <script src="{% static '/js/bootstrap-select.min.js' %}"></script>

    <!-- owl carousel -->
    <script src="{% static '/js/owl.carousel.js' %}"></script>

    <!-- main -->
    <script src="{% static '/js/main.js' %}"></script>

    <script>
    function redirectToPage(select) {
        const selectedValue = select.value;
        window.location.href = "/"+selectedValue+"/";
    }
    </script>

</body>

</html>