{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Delete form' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
    <div class="banner_caption">
        <h1>{% translate 'Deletion' %}</h1>
        <ul>
            <li><a href="/{{ lang }}/">{% translate 'Main' %}</a></li>
            <li>{% translate 'Deletion' %}</li>
        </ul>
    </div>
</div>
<br>
<div class="text-center">
    <h3>
        {% translate 'Want delete?' %}
    </h3>
    <form action="{{ action }}" method="post">{% csrf_token %}
        <div class="heading">
        </div>
        <input type="submit" class="custombtn" value="{% translate 'Delete' %}">
    </form>
</div>
{% endblock %}