{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Form' %}{% endblock %}

{% block content %}
<div class="container-fluid page_heading_banner">
    <div class="banner_caption">
        <h1>{% translate 'Form' %}</h1>
        <ul>
            <li><a href="/{{ lang }}/">{% translate 'Main' %}</a></li>
            <li>{% translate 'Form' %}</li>
        </ul>
    </div>
</div>
<br>
<div class="text-center">
    <form enctype="multipart/form-data" action="{{ action }}" method="post">{% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {% if not field.is_hidden %}
            <br>
            <label class="customlbl" for="id_{{field.name}}">{{field.label}}</label>
            {{ field }}
            {% endif %}
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="custombtn">{% translate 'Submit' %}</button>
    </form>
</div>
{% endblock %}