{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Main' %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="featured_property_slider owl-carousel owl-theme">
        {% if sale %}
        <div class="item">
            <div class="featured_div">
                <div class="featured_content">
                    <h2>{% translate 'Sale' %}</h2>
                    <div class="explore_btn">
                        <a class="custombtn" href="{% url 'handbooks:sale_redirect' lang=lang %}">
                            {% translate 'View' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if selection %}
        <div class="item">
            <div class="featured_div">
                <div class="featured_content">
                    <h2>{% translate 'Selections list' %}</h2>
                    <div class="explore_btn">
                        <a class="custombtn" href="{% url 'handbooks:all_client_list' lang=lang %}">
                            {% translate 'View' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if handbooks %}
        <div class="item">
            <div class="featured_div">
                <div class="featured_content">
                    <h2>{% translate 'Handbooks' %}</h2>
                    <div class="explore_btn">
                        <a class="custombtn" href="{% url 'handbooks:region_list' lang=lang %}">
                            {% translate 'View' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {%  endif %}
        {% if accounts %}
        <div class="item">
            <div class="featured_div">
                <div class="featured_content">
                    <h2>{% translate 'Users' %}</h2>
                    <div class="explore_btn">
                        <a class="custombtn" href="{% url 'accounts:users_list_redirect' lang=lang %}">
                            {% translate 'View' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}